body {
  font-family: Arial, sans-serif;
  background: url(/img/背景2.jpg);
  margin: 0;
  padding: 0;
}

main {
  padding: 100px;
}

.intro {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.room {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.room header {
  width: 100%;
  background: #2e2e2e28;
  z-index: 999;
  position: absolute;
}

.room header .con {
  width: 1300px;
  height: 80px;
  margin: 0 auto;
}

.room header .left {
  margin-top: 20px;
  float: left;
  font-family: "freshskin";
  display: flex;
}

.room header .left a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.room header .left a:hover {
  background-color: #e5e5e5a8;
}

.room header .left a {
  margin-left: 10px;
}

.room header img {
  padding-top: 10px;
  width: 90%;
  height: 60px;
  margin-left: 20px;
}

.room header .right {
  width: 200px;
  height: 20px;
  font-weight: bold;
  font-size: 20px;
  float: right;
}

.container {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  padding: 50px;
  margin-top: 70px;
}

#slide {
  width: max-content;
  margin-top: 50px;
}

.item {
  width: 150px;
  height: 200px;
  background-position: 50%, 50%;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: 70%;
  /* transform: translateY(-50%); */
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  transition: .5s;
}

.item:nth-child(1),
.item:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translateY(0); */
  border-radius: 0;
  box-shadow: none;
}

.item:nth-child(3) {
  left: 50%;
}

.item:nth-child(4) {
  left: calc(50% + 220px);
}

.item:nth-child(5) {
  left: calc(50% + 440px);
}

.item:nth-child(n+6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item:nth-child(n+7) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  width: 600px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-family: system-ui;
  color: #ffffff;
  display: none;
}

.content_1 {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
  margin-left: 100px;
  text-shadow: 10px 10px 10px #393939;
}

.item:nth-child(2) .content {
  display: block;
}

.item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
  margin-left: 200px;
  text-shadow: 10px 10px 10px #393939;
}

.item .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
  padding: 20px;
  margin-left: 100px;
  text-shadow: 10px 8px 8px #393939;
  font-weight: bold;
  box-shadow: 0px 0px 10px #2e2e2e;
}

.item button {
  padding: 10px 20px;
  margin-left: 150px;
  border: none;
  border-radius: 20px;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.buttons {
  width: 100%;
  position: absolute;
  bottom: 50px;
  margin-left: 100px;
  text-align: left;
}

.s_button {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: gray;
  background-color: #fff;
  font-weight: 25px;
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid #555;
  margin: 0 25px;
  transition: .5s;
}

.s_button:hover {
  cursor: pointer;
  background-color: #ccc;
}

.end {
  width: 100%;
  background: url(./img/背景2.jpg);
}

.end_txt {
  margin: 50px auto;
  width: 1300px;
  text-align: center;
  line-height: 50px;
}

.try {
  width: 100%;
  height: 312px;
  padding-top: 50px;
}

.try header {
  width: 400px;
  height: 95px;
  background: #0000002a;
  border-radius: 48px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 7px 0px 0 35px;
}

.try header img {
  width: 60%;
  height: 80px;
  margin-left: 60px;
}

.try p {
  margin-top: 10px;
  text-align: center;
  color: #000000;
}

.try ul {
  margin: 70px auto 0;
  width: 960px;
}

.try ul li {
  width: 291px;
  height: 200px;
  float: left;
  margin-right: 4%;
  margin-bottom: 40px;
  position: relative;
  perspective: 230px;
  margin-bottom: 100px;
}

.try ul li button {
  padding: 10px 20px;
  margin-top: 280px;
  margin-left: 80px;
  border-radius: 20px;
}

.try ul li:last-child {
  margin-right: 0;
}

.try ul li img {
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transition: all 0.5s ease-in 0s;
  width: 800px;
  height: 251px;
  border-radius: 10%;
}

.try ul li img.fan {
  transform: rotateX(-180deg);
}

.try ul li:hover img.fan {
  transform: rotateX(0deg);
}

.try ul li:hover img.zheng {
  transform: rotateX(180deg);
}

.bot {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bot button {
  padding: 20px 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: #969696;
}

.banquan {
  width: 100%;
  height: 60px;
  background: #333333;
  text-align: center;
}

.banquan a {
  line-height: 60px;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 30px;
  text-align: center;
}