body {
    font-family: Arial, sans-serif;
    background: url(/img/背景2.jpg);
    margin: 0;
    padding: 0;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
  }

  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  header ul img{
    width: 140px;
    height: 50px; 
    float: right;
    margin-right: 100px;
  }

  header ul li {
      float: left;
  }

  header ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }

  header ul li a:hover {
    background-color: #555;
  }

  h1 {
    margin: 0;
  }

  main {
    padding: 100px;
  }

  main div h1{
      margin: 70px;
      height: 100px;
  }

  .logo_text{
      margin: -50px;
  }

  form {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  input[type="text"],
  textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="submit"] {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  form button{
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  form button:hover{
    background-color: #bebebe;
  }

  input[type="button"] {
    background-color: #f0f0f0c9;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="button"]:hover {
    background-color: #dbdbdb;
  }

  main ul {
    list-style-type: none;
    padding: 0;
  }

  main li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  main ul li img{
      width: 50px;
      height: 50px;
  }

  main ul li div{
      margin-top: 10px;
      color: #555;
  }

  h3 {
    margin: 0 0 5px;
  }

  p {
    margin: 0;
  }

  footer {
    background-color: #343a40;
    color: white;
    padding: 25px;
    text-align: center;
  }