body {
    font-family: Arial, sans-serif;
    background: url(/img/背景2.jpg);
    margin: 0;
    padding: 0;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
  }

  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  header ul img {
    width: 140px;
    height: 50px;
    float: right;
    margin-right: 100px;
  }

  header ul li {
    float: left;
  }

  header ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }

  header ul li a:hover {
    background-color: #555;
  }

  h1 {
    margin: 0;
  }

  main {
    margin-top: 40px;
    padding: 80px;
  }

  table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #4CAF50;
    color: white;
  }

  footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
  }