body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/img/背景2.jpg);
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    z-index: 999;
  }

  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  header ul img {
    width: 140px;
    height: 50px;
    float: right;
    margin-right: 100px;
  }

  header ul li {
    float: left;
  }

  header ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }

  header ul li a:hover {
    background-color: #555;
  }

  main{
    margin-top: 100px;
  }

  .poem-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
  }

  .poem-item {
    padding: 50px;
    margin: 0 10px;
    border: 1px solid #ccc;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: url(./img/背景.png);
  }

  .poem-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .poem-item h2 {
    font-size: 20px;
    margin-top: 0;
    animation: fadeIn 1s ease forwards;
  }

  .poem-item p {
    font-size: 16px;
    margin-top: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards 0.5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
  }